@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: black !important;
}

.navbar-brand{
  color: black !important;
}

.navbar-collapse{
  justify-content: flex-end;
}

h1{
  font-size: 20px !important;
}
.flex-container{
  display: inline-grid !important;
}
.btn{
  background-color: red !important;
  color: white !important;
}
.select{
  box-shadow: none !important;
  border-color: black !important;
}
.input{
  margin-top: 10px !important;
  box-shadow: none !important;
  padding: 1px !important;
}

.form-control{
  margin-bottom: 10px !important;
}

.food-card{
      justify-content: center!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}